.footernames {
    opacity: 0;
    transition: opacity 0.5s;
    text-align: right;
    padding: 10px 50px 10px 0px;
    width: 110%;
    transform: translate(-90px);
}
footer:hover img {
    width:300px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: width 0.5s;
}
footer:hover .footernames {
    opacity: 1;
}

footer:hover {
    width: 400px;
    height: 400px;
}

.footernames p:hover{
    background-color: pink;
    cursor: pointer;
}

.footernames a {
    text-decoration: none;
    color: rgb(67, 22, 22);
}

